nav {
  font-size: 10px;
}

ul {
  padding: 0;
  display: inline;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #A64DFF;
}

span {
  margin-top: 15px;
}

.page_numbers li a{
  padding: 5px 9px;
  margin: 1px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.menu  li{
  margin: 0 8px;
}

li.dot {
  margin: 0 12px;
  padding: 5px 0;
  border-bottom: 1px dotted black;
}

ul.page_numbers li a:hover {
  color: white;
  background-color: #A64DFF;
  border: 1px solid #7313B3;
}

.menu li a {
  border: 1px solid white;
}
