table {
  width: 1835px;
  -webkit-border-vertical-spacing: 0;
  -webkit-border-horizontal-spacing: 0;
}

td {
  font-size: 33px;
  border-bottom: 2px solid #CCCCCC;
  padding: 6px 0 8px 0;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
}

tr td:nth-child(2n+3) {
  background-color: #F2F2DD;
}

table tr:nth-child(even) {
  background-color: #DDEBF8;
}