nav {
  background-color: #A64DFF;
  height: 36px;
  box-shadow: 0 0 1px grey;
  width: 1032px;
}

ul {
  margin-left: 20px;
}

li {
  display: inline;
}

a {
  letter-spacing: -1px;
  text-decoration: none;
  color: white;
  font: bold 21px Agency FB;
  line-height: 36px;
  padding: 7px 14px 7px 14px;
}

ul.menu li:hover a{
  color: #9F9F9F;
  background-color: #EEEEEE;
}
