div {
  width: 2300px;
  font-size: 27px;
}
div span {
  display: inline-block;
  color:white;
  padding: 5px 12px;
  margin: 1px;
  }
div label {
  border-bottom: 1px solid;
}
span.red {
  background-color: #FF0000;
  }
span.green {
  background-color: #008100;
  }
span.blue {
  background-color: #0000FF;
}
span {
  border-radius: 15px;
}
label[for="red"] {
  color: #FF0000;
  margin-right: 67px;
  }
label[for="green"] {
  color: #008100;
  margin-right: 67px;
}
label[for="blue"] {
  color: #0000FF;
  margin-right: 53px;
}
input[type="checkbox"] {
  display:none;
}
input[type="checkbox"]#red:checked ~ span.red,
input[type="checkbox"]#green:checked ~ span.green,
input[type="checkbox"]#blue:checked ~ span.blue {
  display:none;
}
input[type="checkbox"]#red:checked ~ label[for="red"] {
  opacity: 0.3;
}
input[type="checkbox"]#green:checked ~ label[for="green"] {
  opacity: 0.3;
}
input[type="checkbox"]#blue:checked ~ label[for="blue"] {
  opacity: 0.3;
}