* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: white;
  width: 100%;
}

nav {
  display: inline-block;
}

div {
  background-image: url("title-back.jpg");
  background-size: auto 100%;
  height: 584px;
  width: 100%;
  color: white;
  text-align: center;
}

ul, li {
  display: inline-block;
}

ul {
  position: relative;
  left: 2%;
  top: -29px;
  color: #551A8B;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

header img {
  padding: 32px 152px;
  width: 19%;
}

h3 {
  padding-top: 129px;
  font-size: 34px;
  font-weight: 100;
}

.h1 {
  text-transform: uppercase;
  letter-spacing: -4px;
  word-spacing: 7px;
  font-size: 43px;
  font-weight: 100;
}

.text {
  font-family: Calibri;
  font-style: italic;
  font-size: 17px;
  padding-top: 12px;
  letter-spacing: 1px;
  word-spacing: -2px;
  line-height: 150%;
}

li a:link {
  text-decoration: none;
  padding: 28px 14px;
}

li a:hover {
  border-bottom: 4px solid #3070A8;
}

li a:active, li a:focus {
  font-size: 80%;
  color: #FF4C4C;
  border-bottom: 4px solid #3070A8;
}

div a:link, div a {
  line-height: 117px;
  padding: 15px 58px;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

div a:hover {
  background-color: darkblue;
}