body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  background: black;
  cursor: default;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    h2 span{
      color: #3270a6;
    }
    .testimonials {
      .fl {
        float: left;
      }
      &item {
        width: 40%;
        margin: 20px 40px;
        .fl {
          float: left;
        }
        @media (max-width: 1024px) {
          width: 48%;
          margin: 5px 24%;
        }
        @media (max-width: 768px) {
          width: 70%;
          margin: 10px 15%;
          }
        @media (max-width: 480px) {
          width: 96%;
          margin: 10px 1%;
          }
      }
      &image img {
        width: 100px;
        height: 100px;
        @media (max-width: 1024px) {
            width: 90px;
            height: 90px;
          }
      }
      &content {
        position: relative;
        padding: 8px 15px;
        margin-left: 125px;
        background: white;
        &before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -15px;
          margin-left: -30px;
          border: 15px solid transparent;
          border-right: 15px solid white;
          @media (max-width: 1024px) {
            border: none;
            }
        }
        .testimonials-title {
          border-bottom: 2px dotted #666;
          font-style: italic;
          font-size: 0.8em;
          font-weight: 600;
          line-height: 2.2em;
          color: #3270a6;
          .testimonials-client-name:before {
            content: "\002d";
            margin-right: 3px;
            }
          .fr {
            float: right;
            }
          .testimonials-client-tag {
            @media (max-width: 768px) {
              display: none;
              }
            }
            @media (max-width: 480px) {
              display: none;
              }
            }
        }
        .testimonials-description {
          margin: 8px 0;
          height: auto;
          font-size: 0.8em;
          color: #917e91;
          @media (max-width: 768px) {
            margin: 7px 0;
          }
          @media (max-width: 1024px) {
            font-size: 0.75em;
            margin: 8px 0;
            height: auto;
            color: #917e91;
          }
        }
        @media (max-width: 1024px) {
          margin-left: 110px;
          }
        }
      }
    }
  }