img {
  padding: 0 15px 0 33px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
}

div.example, div.price-container,  div.price>div {
  display: inline-block;
}

div.price-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(219,241,255,1);
  -moz-box-shadow: 0px 0px 5px 4px rgba(219,241,255,1);
  box-shadow: 0px 0px 5px 4px rgba(219,241,255,1);
  height: 467px;
  background-color: #FFFFFF;
  border: 4px solid #EE8129;
  width: 297px;
  border-radius: 3px;
  position: relative;
  bottom: 72px;
  color: #35495A;
}

h2 {
  background-color: #EE8129;
  font-weight: bolder;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 24px 20px 24px 76px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  font-family: Arial;
  letter-spacing: -1px;
  padding: 25px 0 0 0;
  margin: 0;
  text-align: center;
}

.price>div {
  position: relative;
  font-size: 20px;
  font-family: Arial;
}

div.price {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
}

div.price sup {
  font-size: 22px;
}

div.price sub {
  font-size: 22px;
}
ul.list {
  position: relative;
  top:20px;
}

a{
  position: relative;
  top: 17px;
  left: 19px;
  border-radius: 4px;
  background-color: #EE8129;
  padding: 10px 70px;
  border-bottom: 3px solid #B3560B;
}

div.price-container ul li {
  border-bottom: 2px solid #FFFFFF;
  padding: 10px 0 5px 0;
  margin: 0 15px;
  color: #888C94;
  background-color: #EDF5FD;
  font-family: Arial;
  font-size: 15px;
}

div.price-container ul li:nth-child(even) {
  background-color: #F5F5F6;
}