div.task2 {
  background-color: #000000;
  height: 315px;
  color: #2270A8;
  width: 100%;
  margin: 0 auto;
}

div.task2 h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 153px;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 span {
  color: #EE8129;
}

.feedback-container {
  position: relative;
  top: -4%;
  margin: 0 auto;
  max-width: 1075px;
 }

.feedback {
  display: inline-block;
  margin-right: 3%;
}

.feedback div {
  display: inline-block;
}

.feedback img {
  width: 100px;
  height: 100px;
}

.arrow {
  position: relative;
  top: -29px;
  left: -14px;
  width: 1px;
  height: 1px;
  border: 20px solid;
  border-color: transparent white transparent transparent;
}

div.feedback div.text-container {
  position: relative;
  top: -17px;
  left: -13px;
  width: 362px;
  height: 100px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  margin-left: -10px;
  padding: 0;
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 19px;
  margin:0;
  padding: 6px 0 0 15px;
  color: #7e787e;
  text-align: left;
}

div.username{
  border-bottom: 2px black dotted;
  font-weight: 900;
}